---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
      • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card"
          itemprop="name">{{ page.author | escape }}</span></span>
      {%- endif -%}</p>
  </header>
  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>
  <p class="divider">The End</p>
  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
  <div class="tags">
    <p>文章标签</p>
    <ul class="tag-list">
      {% for tag in page.tags %}
      <li><a href="/tag/{{ tag }}">{{ tag }}</a></li>
      {% endfor %}
    </ul>
  </div>
  {% if site.related_posts.size >= 1 %}
  <div class="related-posts">
    <p>相关文章</p>
    <ul class="related-list">
      {% for related_post in site.related_posts limit: 5 %}
      <li><a href="{{ related_post.url }}">{{ related_post.title }}</a></li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  {%- if site.disqus.shortname -%}
  {%- include disqus_comments.html -%}
  {%- endif -%}


</article>